@charset "utf-8";

@keyframes pad {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-70%);
  }
}
.pad-mockup_wrap:hover .pad-screen ul li img {
  animation: pad 30s linear forwards;
}
@keyframes pc {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-70%);
  }
}
.pc-mockup_wrap:hover .pc-screen ul li img {
  animation: pc 8s linear forwards;
}
